<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
	backupGlobals="true"
	backupStaticAttributes="false"
	bootstrap="./bootstrap.php"
	cacheResult="false"
	cacheTokens="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	forceCoversAnnotation="false"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	stopOnRisky="false"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	verbose="true" >
	<testsuites>
		<testsuite name="My Test Suite">
			<!-- directory>/path/to/*Test.php files</directory -->
			<file>cli_feeder_test.php</file>
			<file>zendesk_searcher_test.php</file>
		</testsuite>
	</testsuites>

	<logging>
		<log type="coverage-html" target="./coverage_report" lowUpperBound="35" highLowerBound="70"/>
	</logging>


	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./</directory>
			<file>..\classes\controller\cli_feeder.php</file>
			<file>..\classes\controller\param_feeder.php</file>
			<file>..\classes\controller\zendesk_searcher.php</file>
		</whitelist>
	</filter>


</phpunit>